.footer{
    max-width: 1440px;
    width: 100vw;
    height: 100px;
    background-color: #023047;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #DFDFE4;
    font-size: 0.16em;
}


@media screen and (max-width: 1280px){
    .footer{
        width: 1380px;
    }
}

@media screen and (max-width: 1024px){
    .footer{
        max-width: 1124px;
    }
}

@media screen and (max-width: 912px){
    .footer{
        max-width: 912px;
    }
}

@media screen and (max-width: 820px){
    .footer{
        max-width: 820px;
        height: 70px;
        font-size: 0.14em;
    }

}

@media screen and (max-width: 540px){
    .footer{
        max-width: 540px;
        font-size: 0.12em;
    }
}

@media screen and (max-width: 430px){
    .footer{
        width: 430px;
        height: 40px;
        font-size: 0.11em;
    }
}








